server.modules   += ( "mod_proxy" )
server.modules   += ( "mod_magnet" )

$HTTP["url"] =~ "^/devpi/" {
  magnet.attract-raw-url-to = ( "/etc/lighttpd/lua/devpi.lua" )
  proxy.server = ( "" => ("devpi" => ("host" => "127.0.0.1", "port" => 3141)))
}
